.env
__pycache__/
faiss_index/
.claude/
temp/
.venv/
encryption_keys/
nft-marketplace-llm/.env
nft-marketplace-llm/.devcontainer
nft-marketplace-llm/.next/
nft-marketplace-llm/.vscode/
nft-marketplace-llm/__pycache__/
nft-marketplace-llm/claude/
nft-marketplace-llm/node_modules/
nft-marketplace-llm/temp/
nft-marketplace-llm/venv/
nft-marketplace-llm/artifacts/
datasets/